head{color: white;background: white;}
body{margin:0;padding:0;background:white;font-family:Arial,Tahoma,Helvetica,sans-serif;}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    box-sizing: border-box;
}

.tieude-sneaker {
  color:# F5F5F5;
  font-size: 20px;
}
2
}
ul{
	list-style: none;

}
.card-text{
	font-size: 27px;
	text-align: center;
}
.imgwh{
	width: 420px;
	height: 300px;
}
.img-fluid-1{
	 height:100px;
	  width:120px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.size{
	font-size: 25px;
}

